:host{
    display: block;
    margin: .5rem 0;
    background: #fff;
    border-radius: .25rem;
    overflow: hidden;
}
.module{
    width: 100%; 

    &__name{        
        font-size: 1.5rem;
        padding: .75rem;
        border-bottom: 1px dashed #ddd;
        font-weight: 500;
        background: #eee;
        user-select: none;
        cursor: pointer;
    }

    &__doc{        
        padding: .75rem;
    }
}